{% extends 'panel.html' %}
{% block addcss %}
    
    <link rel="stylesheet" href="{{url_for('static',filename='table.css')}}">
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>File_id</th>
                <th>File_Name</th>
                <th>created_at</th>
                <th>link</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                 
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td><a href="{{url_for('view_file',fid=i[0])}}">view</a></td>
                <td><a href="{{url_for('download_file',fid=i[0])}}">Download</a></td>
                <td><a href="#">delete</a></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%  endblock content%} 
    
